<div class="container" >
  <div class="card card-body">
    <h2>Encontre uma conta GitHub </h2>
    <p class="lead">
      Digite o nome do usuário
    </p>
    <form [formGroup]="formTask">
     <input name="input" label="Digite o nome do Pokemon"  formControlName="name_user">
   </form>
  </div>
</div>

<div *ngIf="user$ | async as user" ></div>

<div *ngIf="hasContent" class="row mt-3" style = "justify-content: center; align-items: center;">
  <div>
    <div class="card" style="width:15rem; height:15rem">
      <img class="card-img-top" src= {{avatar}}/>
      <ul class="list=group list-group-flush">
        <li class="list-group-item"><span class="badge">{{name}}</span></li>
          <li class="list-group-item"><span class="badge"> Seguindo: {{following}} </span></li>
          <li class="list-group-item"><span class="badge"> Seguidores: {{followers}} </span></li>
      </ul>
      <div class="card-body">
        <a href= {{url}}  target="blank" class="btn btn-warning btn-block">Ver perfil</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="error" class="alert alert-warning" role="alert"  >
  {{messageError}}
</div>
